<app-system-message-bar color="primary" [message]="message"></app-system-message-bar>
<mat-card *ngIf="userID">
  <mat-card-title>Current</mat-card-title>
  <span matPrefix>java -cp ./lib/moa.jar moa.DoTask </span>
  <mat-form-field class="input-full-width" enctype="application/x-www-form-urlencoded" method="post">
    <input matInput placeholder="MOA Commands" #moaCommands />
    <button matSuffix mat-raised-button (click)="postCommands(moaCommands.value)">
      Submit Task
    </button>
  </mat-form-field>
  <mat-card-subtitle *ngIf="taskID">
    Task ID:
  </mat-card-subtitle>
  <mat-card-content *ngIf="taskID">
    {{ taskID }}
  </mat-card-content>
  <mat-card-actions>
    <button matSuffix mat-raised-button (click)="getTasks()" color="primary">
      Refresh History
    </button>
  </mat-card-actions>
</mat-card>
<mat-card *ngIf="tasks && userID">
  <mat-card-title>History</mat-card-title>
  <table [dataSource]="tasks" mat-table class="mat-elevation-z8">
    <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns">
      <th mat-header-cell *matHeaderCellDef>{{ column }}</th>
      <td mat-cell *matCellDef="let task">{{ task[column] }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let task; columns: displayedColumns" [ngClass]="{
        'turn-red': task.status == 'Failed',
        'turn-blue': task.onDisplay == true
      }" (click)="toggleReport(task)"></tr>
  </table>
</mat-card>
