<app-system-message-bar color="primary" [message]="message"></app-system-message-bar>

<mat-card *ngIf="userID">
  <mat-card-title>Upload</mat-card-title>
  <form enctype="multipart/form-data" method="post">
    <div>
      <label for="picked">ARFF dataset</label>
      <div>
        <input type="file" id="picked" #picked (click)="message = ''" (change)="onPicked(picked)" />
      </div>
    </div>
  </form>
  <mat-card-actions>
    <button matSuffix mat-raised-button (click)="getDatasets()" color="primary">
      Refresh History
    </button>
  </mat-card-actions>
</mat-card>
<mat-card *ngIf="datasets && userID">
  <mat-card-title>History</mat-card-title>
  <table [dataSource]="datasets" mat-table class="mat-elevation-z8">
    <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns">
      <th mat-header-cell *matHeaderCellDef>{{ column }}</th>
      <td mat-cell *matCellDef="let dataset">{{ dataset[column] }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let dataset; columns: displayedColumns"></tr>
  </table>
</mat-card>
