<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="'side'" [opened]="true">
    <mat-toolbar>
      <img class="img-responsive" alt="Logo" src="../../assets/Logo.PNG" [routerLink]="['/']" />
    </mat-toolbar>
    <mat-nav-list class="side-menu-items">
      <a mat-list-item [routerLink]="['/setting']" routerLinkActive="active-link">Setting</a>
      <a mat-list-item [routerLink]="['/dataset']" routerLinkActive="active-link">Dataset</a>
      <a mat-list-item [routerLink]="['/task']" routerLinkActive="active-link">Task</a>
      <a mat-list-item [routerLink]="['/report']" routerLinkActive="active-link">Report</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
    <mat-card class="feedback">
      <mat-card-content>
        <a href="mailto:incoming+zzj0402-moaweb-12927414-issue-@incoming.gitlab.com">Report
          Issues</a>
      </mat-card-content>
      <mat-card-content>
        <a
          href="https://gitter.im/Waikato-Univeristy/MOA?utm_source=share-link&utm_medium=link&utm_campaign=share-link">Chat
          on Gitter</a>
      </mat-card-content>
    </mat-card>
  </mat-sidenav-content>

</mat-sidenav-container>
