.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.active-link {
  background: #3F51B5;
  color: white;
}

.active-link:hover {
  color: black;
}

.active-link:active {
  color: black;
}

.feedback {
  color: purple;
  text-align: right;
}
